@font-face {
	font-family: Kollektif;
	font-display: swap;
	src: url("../fonts/Kollektif-Bold.woff2") format("woff2"), url("../fonts/Kollektif-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Kollektif;
	font-display: swap;
	src: url("../fonts/Kollektif-Regular.woff2") format("woff2"), url("../fonts/Kollektif-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Lena;
	font-display: swap;
	src: url("../fonts/Lena-Regular.woff2") format("woff2"), url("../fonts/Lena-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
